services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DB_POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./db-data:/var/lib/postgresql/data

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    depends_on:
      - postgres
    environment:
      - GENERIC_TIMEZONE=Europa/Berlin
      - TZ=Europa/Madrid
      - NODE_ENV=production
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=${DB_POSTGRES_DB}
      - DB_POSTGRESDB_PASSWORD=${DB_POSTGRES_PASSWORD}
      - DB_POSTGRESDB_USER=${DB_POSTGRES_USER}
    ports:
      - "5678:5678"
    volumes:
      - ./n8n-data:/home/node/.n8n

volumes:
  db-data:
  n8n-data:
